<ion-menu side="start" menuId="first">
  <ion-header>
    <div class="user">
      <div class="icon">
          <img src="/assets/person.png" alt="account icon">
      </div>
      <div class="account_info">
         <h6></h6>
         <p><ion-icon name="person"></ion-icon>Staff</p>
      </div>
    </div>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item lines="none" (click)=toDashboard()> <ion-icon name="stats"></ion-icon>Dashboard</ion-item>
      <ion-item lines="none" [routerLink]="['/messaging']">
        <div>
          <ion-icon name="chatboxes"></ion-icon>Messages 
          <ion-badge id="notifications-badge" color="danger"
            *ngIf="+unreadCount > 0">{{unreadCount}}</ion-badge>
        </div>
      </ion-item>
      <ion-item lines="none" (click)="toSchoolList()"><ion-icon name="home"></ion-icon>Schools</ion-item>
      <ion-item lines="none" (click)="toStudentList()"><ion-icon name="people" ></ion-icon>Students</ion-item>
      <ion-item lines="none" (click)="toTeacherList()"><ion-icon name="person"></ion-icon>Teachers</ion-item>
      <ion-item lines="none" (click)="toCourseList()"><ion-icon name="book"></ion-icon>courses</ion-item>
      <ion-item lines="none"  (click)=toPermissions()><ion-icon name="key"></ion-icon>Permissions</ion-item>
      <ion-item lines="none" (click)="logoutUser()"><ion-icon name="log-out"></ion-icon>Log out</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main>

</ion-router-outlet>
