<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>
      Hello, {{loginUser.role_type}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let message of messages">

      <ion-col size="9" *ngIf="message.sender.id !== loginUser.id" class="message"
               [ngClass]="{
                 'my_message': message.sender.id === loginUser.id,
                 'other_message': message.sender.id !== loginUser.id
                }">
        <span class="user_name">{{ message.receiver.nickname }}:</span><br>
        <span>{{ message.text }}</span>
        <div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
      </ion-col>

      <ion-col offset="3" size="9" *ngIf="message.sender.id === loginUser.id" class="message"
               [ngClass]="{
                 'my_message': message.sender.id === loginUser.id,
                 'other_message': message.sender.id !== loginUser.id
               }">
        <span class="user_name">{{ message.sender.nickname }}:</span><br>
        <span>{{ message.text }}</span>
        <div class="time">{{message.created | date:'dd.MM hh:mm'}}</div>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-item>
    <ion-input type="text" placeholder="Message..." [(ngModel)]="message"></ion-input>
    <ion-button fill="clear" color="primary" slot="end" (click)="sendMessage()" [disabled]="!message" size="large">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>
