
  ion-header {
    height: 30%;
    background-color: #191923;
    div.user {
      text-align: center;
      .icon {
        img {
          height: 103px;
          margin-top: 30px;
          background-color: white;
          border-radius: 30px;
          text-align: center;
        }
      }
    }
    .account_info {
      text-align: center;
      h6 {
        color: white;
      }
      p {
        color: white;
        ion-icon {
          color: brown;
          margin-right: 5px;
        }
      }
    }
  } 

ion-content {
  ion-list {
    ion-item {
      margin-top: 10px;
      ion-icon {
        margin-right: 10px;
      }
      &:nth-child(1){
        ion-icon {
          color: coral;
        }
      }
      &:nth-child(2){
        ion-icon {
          color: #50c6ff;
        }
      }
      &:nth-child(3){
        ion-icon {
          color: #dcd36be8;
        }
      }
      &:nth-child(4){
        ion-icon {
          color: #2e9c3ce8;
        }
      }
      &:nth-child(5){
        ion-icon {
          color: #9c125ee8;
        }
      }
      &:nth-child(6){
        ion-icon {
          color: #301b71e8;
        }
      }
      &:nth-child(7){
        color: #ff0000c7;
        margin-top: 49%;
        ion-icon {
          color: #ff0000c7;
        }
      }
    }
  }
}
